html {
    min-height: 100%;
}

a {
    color: $blue_Regular;

    &:hover {
        color: $Accent_color;
    }
}

img {
    display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey_text;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $grey_text;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $grey_text;
}
:-moz-placeholder { /* Firefox 18- */
    color: $grey_text;
}

.btn {
    @extend %h4;
    color: $white;
    padding: 18px 30px;
    text-align: center;
    background: $blue_Regular;
    box-shadow: 0 0 20px rgba($blue_Regular, .5);
    border-radius: 12px;
    cursor: pointer;
    transition: background .3s ease-out;

    &:hover {
        background: $blue_hover;
    }

    &:active {
        background-color: $blue_active;
    }
}