.footer_content {
    background: $grey_big;

    .container {
        border-top: 2px solid $grey_color;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .fb {
        cursor: pointer;

        path {
            fill: $blue_Regular;
        }
    
        &:hover {
            path {
                fill: $Accent_color;
            }
        }
    
        path {
            transition: fill .3s ease;
        }
    }

    .point {
        background-color: $grey_text;
    }

    &__right {
       @extend %address;
       color: $grey_text; 
    }
    
}

.footer-address {
    @extend %address;
    color: $main_Regular;
    margin-bottom: 21px; 

    &a {
       @extend %h4;
        font-size: 12px;
        line-height: 15px; 
    }
}

.footer-contacts {
    @extend %h4;
    color: $main_Regular;
}

.footer-address,
.footer-contacts{
    display: flex;
    align-items: center;
    gap: 10px;
}
