.section_top {
    background: $gradient_Supersoft;
    border-radius: 0 0 12px 12px;
    position: relative;

    &::after,
    &::before {
        border-radius: 0 0 12px 12px;
        position: absolute;
        content: "";
        height: 10px;
    }

    &::before{
        background: #E7E7F2;
        top: calc(100% + 10px);
        left: 40px;
        width: calc(100% - 80px);
    }
    
    &::after {
        background: #CACADB;
        left: 20px;
        top: 100%;
        width: calc(100% - 40px);
    }
}

.h_logo {
    height: 100%;
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%);

    img {
        max-width: none;
        height: 100%;
    }
}

.h_logo_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    position: relative;

    .content {
        position: relative;
        @extend %Hero;
        color: $white;
    }
}

svg {
    display: block;
    cursor: pointer;


}

.arrow_ative {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &:hover {
        circle,
        path {
            stroke: red;
        }
    }

    circle,
    path {
        transition: stroke .3s ease;
    }
}

.section_content {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0;

    .section_list {
        text-align: right;
        @extend %Hero;
        color: $grey_text;
        border-right: 4px solid rgba($white, .3);
        padding: 15px 60px 15px 0;
    }

    .active {
        background: $gradient_Red_Text2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section_list__item {
        margin-bottom: 30px;
        white-space: nowrap;

        &:hover {
           color: $Accent_color; 
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.section_title {
    padding: 43px 43px 60px;

    .title {
       @extend %h2;
       color: $white;
       margin-bottom: 30px; 
    }

    .section_text {
        @extend %Paragraph2;
        color: $white;
    }
}

.section_card {
   padding: 0 60px;
    max-width: 1440px;
    margin: 0 auto;

    .img_svg__card {
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
            .svg_1 {
                fill: $Accent_color;
            }

            .svg_2 {
                stroke: $Accent_color;
            }
        }
    
        .svg_1,
        .svg_2 {
            transition: .3s ease;
        }
    }

    .section_card__title {
        @extend %Hero;
        background: $gradient_Red_Text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        display: inline-block;
    }
}

.section_card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card__content {
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 33.3333%;
        max-width: 400px;
        margin-bottom: 60px;

        img {
            padding: 14px;
            background: $white;
            border-radius: 24px;
            margin-bottom: 30px;
        }

        h3 {
            @extend %h3;
            color: $blue_Regular;
            margin-bottom: 15px;
        }

        p {
           @extend %Paragraph;
           color: $white; 
        }
    }
   
}

.banner_content {
    display: flex;
    background: $grey_big;
    border-radius: 12px;
    overflow: hidden;
    
    &__wrapper {
        margin: 80px auto 60px;
        max-width: 1320px;
    }

    &__img {
        flex: 1 0 auto;
        max-width: 400px;
    }

    &__body {
        padding: 30px;

        h2 {
            @extend %Hero;
            background: $gradient_Red_Text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px; 
        }

        h4 {
            @extend %h4;
            color: $grey_text;
            margin-bottom: 6px;
        }

        p {
            @extend %Paragraph3;
            color: $grey_text;
        }
    }

    &__svg {
         margin-bottom: 5px;   
    }
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.section_teaser {
    padding: 30px;
    background: $grey_big;

    &__svg {
        margin-bottom: 10px;

        &:hover {
            .svg_1 {
                fill: $Accent_color;
            }

            .svg_2 {
                stroke: $Accent_color;
            }
        }
    
        .svg_1,
        .svg_2 {
            transition: .3s ease;
        }
    }

    &__title {
        @extend %Hero;
        background: $gradient_Red_Text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        display: inline-block;
    }

    &__card {
        display: flex;
        gap: 30px;
    }

    &__container {
        max-width: 420px;
        background: $white;
        border-radius: 8px;

        &__body {
            padding: 30px 30px 70px 30px;

                h4 {
                    @extend %h4;
                    color: $blue_hver;
                    margin-bottom: 15px;
                }
        
                h5 {
                    @extend %h3;
                    font-size: 12px;
                    line-height: 15px;
                    color: $grey_text;
                    margin-bottom: 15px;
                }
        
                p {
                    border-top: 4px solid #E6E6F0;
                    padding-top: 15px;
                    @extend %Paragraph3;
                }
        }
    }
}



